@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Charmonman&family=Comfortaa&family=Open+Sans&display=swap');

:root {
    /* cores */
    --cor1: #16264c;
    --cor2: #ccad00;
    --cor3: #5b270b;
    --cor4: #f2f2f2;
    --cor5: #212529;
    /* tipografias */
    --fonte-opensans: 'Open Sans', sans-serif;
    --fonte-bebasneue:  'Bebas Neue', cursive;
    --fonte-charmonman: 'Charmonman', cursive;
    --fonte-comfortaa:  'Comfortaa', cursive;
}

* { /* Reset simples */
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    font-family: var(--fonte-opensans);
    color: var(--cor5);
    scroll-behavior: smooth;
    }

@media (max-width:800px) {

    .conteudo {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .cabeçalho {
        margin-top: 0px !important;
    }

    .nav-interno {
        top: 0px !important;
    }

    .card {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .container-tabela {
        font-size: .8em !important;
        line-height: 16px !important;
        transition: all 0.2s ease-in-out !important;
    }

    .nav-interno {
        box-sizing: border-box;
        display: visible;
        position: absolute;
        right: 0px;
        top: 40px;
        width: 50%;
        background-color: rgba(242, 242, 242, .8);
        margin-top: 60px;
        transition: all 0.2s ease-in-out !important;
    }

    .nav-interno li {
        box-sizing: border-box;
        display: block;
        text-align: center;
        margin: auto;
        margin-top: 0px;
        width: 100%;
        border-bottom: 1px solid var(--cor2);
        border-left: 1px solid var(--cor2);
        border-right: 1px solid var(--cor2);
        line-height:59.2px;
    }

}

@media (max-width:500px) {

    .img-foto {
        float: none !important;
        display: block;
        margin: auto !important;
        margin-top: 20px !important;
        transition: all 0.2s ease-in-out !important;
    }

    .container-tabela {
        font-size: .6em !important;
        line-height: 16px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        transition: all 0.2s ease-in-out !important;
    }
}

    main {
        max-width: 1000px;
        margin: auto;
        background-color: var(--cor4);
    }

    .cabeçalho {
        box-sizing: border-box;
        width: 100%;
        height: 420px;
        margin: auto;
        margin-top: 40px;
        background-image: url(../img/fundo1.jpg);
        background-position: center;
        background-size: cover;
        box-shadow: 0 -5px 0px var(--cor2);
        border: 1px solid var(--cor2);
    }

    .menu {
        box-sizing: border-box;
        margin: auto;
        height: 60px;
        background-color: rgba(242, 242, 242, .8);
        padding: 20px;
    }

    .menu li {
        display: inline-block;
    }

    .nav-link a {
        transition: all 0.2s ease-in-out;
        position: relative;
    }

    .nav-link a:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 1.5px;
        background-color: var(--cor3);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s ease-in-out;
    }

    .nav-link a:hover:before {
        transform: scaleX(1);
    }

    .nav-home {
        float: left;
        margin-left: 20px;
        font-family: var(--fonte-charmonman);
        color: var(--cor3);
        font-weight: bold;
    }

    .nav-link {
        float: right;
        margin-right: 20px;
    }

    .h1-hgroup {
        text-align: center;
        background-color: rgba(242, 242, 242, .4);
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .h1-hgroup img {
        height: 220px;
    }

    .h1-hgroup h1 {
        color: var(--cor2);
        text-shadow: 1px 1px 2px var(--cor5);
        font-family: var(--fonte-charmonman);
        font-size: 3em;
        margin-bottom: -20px;
    }

    .h1-hgroup p {
        font-family: var(--fonte-comfortaa);
        font-size: 1.4em;
        color: var(--cor1);
        font-weight: bold;
    }

    .conteudo {
        padding: 40px;
    }

    .card {
        box-shadow: 0px 1px 4px var(--cor5);
        padding: 40px;
        margin-bottom: 40px;
        position: relative;
    }

    .card h2 {
        font-family: var(--fonte-bebasneue);
        color: var(--cor1);
        letter-spacing: .1em;
    }

    .card a:not(.link-neutro), footer a {
        color: var(--cor1);
        font-weight: bold;
    }

    .card a:hover:not(.link-neutro), footer a:hover {
        color: var(--cor2);
        transition: transform 0.2s ease-in-out;
    }

    .card a:visited:not(.link-neutro), footer a:visited {
        color: var(--cor3);
        transition: transform 0.2s ease-in-out;
    }

    .texto-normal, .card blockquote {
        text-indent: 3.5em;
        font-family: var(--fonte-opensans);
        color: var(--cor5);
        margin: 20px 0;
        text-align: justify;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .img-foto {
        width: 200px;
        float: right;
        margin: 25px;
        border: 1px solid var(--cor5);
        box-shadow: 0px 1px 1px var(--cor1);
        border-radius: 100%;
    }

    .quote {
        display: block;
        padding: 20px 40px;
        border-left: 10px solid var(--cor3);
        margin: 0px;
    }

    .card blockquote {
        font-style: italic;
    }

    blockquote::before {
        content: "\201C"; /* Abre aspas */

    }

    blockquote::after {
        content: "\201D"; /* Fecha aspas */
    }

    .card figcaption {
        float: right;
    }

/* ---------- Tabela antiga ----------

        .tabela { /* 2: div que contém a table * /
    }

        .tabela table { /* 3: a table com todo seu código * /
        background-color: var(--cor4);
        padding: 20px;
        color: var(--cor5);
        border: 1px solid var(--cor5);
        }

    .tabela thead /* (cabeçalho: título + dias da semana) * /, tr, th, td {
        background-color: blue;
    }

    .tabela th.coluna0 { /* título da tabela. th = table head, célula de cabeçalho * /
        color: yellow;
        display: inline-block;
        width: 100%;
    }

    .tabela th:not(.coluna0) { /* dias da semana.  th = table head, célula de cabeçalho * /
        color: palevioletred;
        width: 15.8%;
        font-size: .63em;
    }

    .tabela td { /* td = célula de dados * /
        color: lime;
        width: 15.8%;
    }

    .tabela tr {
        display: block;
    }

    .coluna {
        border: 1px solid black;
        padding-right: 20px;
        padding-left: 20px;
        margin: auto;
        text-align: center;
    }

    .coluna1 .linha1 {
        color: var(--cor2);
    }

*/

/* Tabela nova */

.container-tabela {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    font-size: 1em;
}

.titulo-tabela {
    font-size: 1em;
    text-align: center;
    border: 1px inset var(--cor5);
    color: var(--cor4);
    background-color: var(--cor5);
    font-weight: lighter;
}

.cabecalho-tabela {
    color: var(--cor5);
    font-size: 1em;
    background-color: var(--cor4);
}

.primeira {
    color: var(--cor5);
}

.tabela-flex {
    display: flex;
    transition: 0.5s;
    justify-content: space-evenly;
}

.linha-flex {
    text-align: center;
    width: 16.7%;
    border: 1px solid var(--cor1);
    margin: 0;
    flex-grow: 6;
    flex-shrink: 6;
}

.link-neutro:hover {
    mix-blend-mode:multiply;
    font-weight: bold;
}

.figure-wp {
    width: 140px;
    height: 140px;
    float: left;
    padding: 0px 20px 20px 20px;
    margin: 20px 20px 20px 0;
    font-size: .9em;
}

.img-wp {
    width: 100%;
    margin: auto;
    border: 1px solid var(--cor5);
    box-shadow: 0px 1px 1px var(--cor1);
    border-radius: 100%;
    margin-bottom: 10px;
}

.figcaption-wp {
    margin: auto;
    text-align: center;
    font-size: 1em;
}

footer {
    margin: auto;
    padding-bottom: 40px;
    background-color: var(--cor4);
}

footer p {
    text-align: center;
    font-family: var(--fonte-opensans);
}